/*=============== FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&family=Manrope&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
    --normal-font: 'Manrope', sans-serif;
    --fancy-font: 'Cinzel Decorative', cursive;

    --large-font-size: 2rem;
    --normal-font-size: 1.3rem;
    --small-font-size: 1rem;
    --tiny-font-size: 0.8rem;


    --black: hsl(208, 90%, 4%);
    --white: hsl(210, 14%, 95%);
    --accent: hsl(28, 100%, 53%);
    --gray: hsla(0, 0, 0, 0.4);
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.1s linear; 
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--normal-font);
    font-size: var(--normal-font-size);
    color: var(--black);
    /* overflow: hidden; */
    height: 100vh;
    width: 100vw;
    background: var(--white);
    padding: 0vw 10vw;
    cursor: none;
}

h1,
h2,
h3 {
    color: var(--black);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--black);
    cursor: none;
}

img {
    max-width: 100%;
    height: auto;
}

.content {
    height: 70vh;
}

button {
    border: none;
    cursor: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.fancy-font {
    font-family: var(--fancy-font);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none !important;
}

.shake-container {
    position: relative;
}

.shake-container:hover .shake-span-accent {
    color: var(--accent);
}



/*=============== button ===============*/
.button {
    position: relative;
    display: inline-flex;
    padding: 10px 17px;
    font-size: var(--normal-font-size);
    background-color: var(--black);
    color: var(--white);
    text-decoration: none;
    letter-spacing: 1px;
    overflow: hidden;
    z-index: 5;
}

.button span {
    position: relative;
    z-index: 6;
}

.button::before {
    content: '';
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background: var(--accent);
    transition: width 0.5s, height 0.5s;
    z-index: 5;

}


.button:hover::before {
    width: 500px;
    height: 500px;
    z-index: 5;

}

/*=============== scrollbar ===============*/
::-webkit-scrollbar {
    display: none;
}

/* 
::-webkit-scrollbar {
    width: 8px;
    height: 6px;
    z-index: 100;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, .5);
} 
*/

/*=============== selection ===============*/
::-moz-selection {
    color: var(--white);
    background: var(--black);
}

::selection {
    color: var(--white);
    background: var(--black);
}

/*=============== Cursor ===============*/
.cursor-dot {
    width: 8px;
    height: 8px;
    border-radius: 10px;
    background-color: var(--accent);
}

.cursor-outline {
    width: 30px;
    height: 30px;
    border-radius: 30px;
    background-color: var(--accent);
    opacity: 0.3;
}

.cursor-dot,
.cursor-outline,
.cursor-text  {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
    transition: none;
}
.cursor-text-spans{
    position: relative;
    font-size: var(--small-font-size);
    user-select: none;
    animation: rotate 7.5s linear infinite;
}

.cursor-text-spans span{
    position: absolute;
    top: -70px;
    text-transform: uppercase;
    display: inline-block;
    transform-origin: 0 70px;
}

@keyframes rotate {
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}