/*=============== Loader ===============*/
.loader {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: var(--white);
}

.loader-content {
    width: 100vw;
    height: 20vh;
    transform: translate(0%,10%);
}

.loader-text {
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: end;
    font-size: 4rem;
    width: 65vw;
    height: 12rem;
    overflow: hidden;
    min-width: max-content;
}

.loader-text-s {
    font-size: 10rem;
    font-family: var(--fancy-font);
    font-weight: bold;
    color: var(--accent);
}

.loader-text-spans {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    position: relative;
    width: 4rem;
    overflow: hidden;
}

.loader-text-span {
    display: inline-block;
    transition: opacity 0.5s, transform 0.5s;
    width: 3rem;
    height: 10rem;
}

.loader-back-a,
.loader-back-b{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.loader-back-a{
    z-index: 99;
    background-color: var(--black);
}

.loader-back-b{
    z-index: 98;
    background-color: var(--accent);
}

/*=============== Navbar ===============*/
.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    padding: 0vw 10vw;
    justify-content: space-between;
    height: 100px;
    z-index: 1;
    background-color: var(--white);
}

.nav-left {
    display: flex;
    font-size: var(--large-font-size);
}

.nav-right {
    width: 35%;
    justify-content: space-between;
}

.nav-right-link {
    position: relative;
    display: inline-block;
    z-index: 1;
    transition: none; 
}

animate {
    position: relative;
}

.animate::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: transparent;
    transform: scaleX(0);
    transform-origin: left center;
    transition: transform 0.3s, background-color 0.3s;
}

.animate:hover {
    color: var(--accent);
}

.animate:hover::before {
    transform: scaleX(1);
    background-color: var(--accent);
}

.backText {
    opacity: 0.15;
    position: relative;
    pointer-events: none;
}
/*=============== Content ===============*/
.content-section{
    position: absolute;
    top: 0;
    width: 80vw;
    height: 100%;
    margin-top: 15vh;
    transform: scale(0);
}


/*=============== Contact ===============*/

.formdiv{
    height: 100%;
    justify-content: space-around;
    align-items: center;
    color: black;
    border-radius: 4px;
}

.contact-details, .form{
    height: 80%;
}

input[type=text], input[type=email], textarea{
    font-family: var(--normal-font);
    padding: 3px 10px;
    margin: 8px 0;
    width: 25vw;
    display: inline-block;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--gray);
    background: hsla(0, 0%, 21%, 0.05);
    color: rgb(0, 0, 0);
    outline:none;
    cursor: none;
}
textarea{
    resize: none;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus{
    border-bottom: 1px solid var(--accent);
}

.contact-detail-label{
    justify-content: start;
}
.contact-detail-label-icon{
    margin-right: 10px;
}
.contact-detail:hover .contact-detail-label-icon{
    color: var(--accent);
    fill: var(--accent);
}
.contact-detail:hover .contact-detail-label{
    font-style: italic;
}
.contact-details p {
    font-size: var(--normal-font-size);
    padding: 10px;
}
.contact-details h3 {
    font-size: var(--small-font-size);
}